<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />

    {% assets "css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

  </head>
  <body>

    <!-- 
      The app is in a "raw" block, because Flask and Vue use 
      the same delimiter for variables (double curly braces).
      A raw block is one solution to make things work. Another is
      redefining delimiters in Flask or Vue. 
    -->
    {% raw %}
    <div id="app">
      <navigation-bar>  
      </navigation-bar>
      <base-map></base-map>
    </div>
    {% endraw %}

    {% assets "js" %}
      <script src="{{ ASSET_URL }}" charset="utf-8"></script>
    {% endassets %}
  </body>
</html>
