<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    {% assets "css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

  </head>
  <body>

    <!-- 
      The app is in a "raw" block, because Flask and Vue use 
      the same delimiter for variables (double curly braces).
      A raw block is one solution to make things work. Another is
      redefining delimiters in Flask or Vue. 
    -->
    {% raw %}
    <div id="app">
      <h1>{{ message }}</h1>
    </div>
    {% endraw %}

    {% assets "js" %}
      <script src="{{ ASSET_URL }}" charset="utf-8"></script>
    {% endassets %}
  </body>
</html>
